<h1>All tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %>  <% if logged_in? %> <%= link_to "Delete tag", tags_path(@tag), class: 'to_the_left', method: :delete, data:
            {confirm: "Really want to delete the tag?"}  %><% end %></li>
  <% end %>
</ul>
<br>
<%= link_to "<< Back to Articles List", articles_path %>

